.bug-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    padding: 0;
    list-style: none;
}

.bug-list li {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 400px;
    padding: .7em;
    background-color: var(--bg1);
    border-radius: .2em;
    color: whitesmoke;
}

.bug-list .actions {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: .3em;
    margin-block-start: auto;
}

.bug-list .actions button:last-child {
    margin-inline-start: auto;
}
.bug-list .actions button:first-child {
    margin-inline-end: auto;
}